.breadcrumb {
    padding: 1.2rem 0;

    &-wrapper {
        @include min($res-mobile) {
            padding: 1rem 1.8rem;
            border: .1rem solid $color-second;
            border-radius: 100rem;
            width: fit-content;
        }
    }

    &-list {
        @include flex;
        align-items: center;
        flex-wrap: wrap;
        overflow: hidden;
        gap: .8rem;
    }

    &-item {
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        gap: .8rem;
        font-weight: 700;

        &:not(:first-child) {
            &::before {
                display: inline-block;
                content: '';
                width: .4rem;
                height: .4rem;
                border-radius: 100rem;
                background-color: rgba(0, 0, 0, 0.45);
                vertical-align: middle;
            }
        }

        &:last-child {
            color: $color-second;
            pointer-events: none;
        }

        @include hover {
            color: $color-second;
        }
    }

    &-link {
        color: inherit;
        transition: .2s ease-in-out;
    }
}