.social {
    &-list {
        @include flex;
        align-items: center;
        gap: 1.2rem;
    }

    &-link {
        display: block;
        width: 3.2rem;
        height: 3.2rem;
        transition: 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
            transform: translateY(-5px);
        }

        img {
            width: 100%;
            display: block;
        }

    }
}