.hd-nav {
    height: 100%;

    .menu {
        &-nav {
            height: 100%;

            >.menu-list {
                height: 100%;
                justify-content: space-between;

                >.menu-item {
                    height: 100%;
                    @include flex;
                    align-items: center;

                    &:not(:first-child) {
                        margin-left: 2.4rem;

                        @include max(1100px) {
                            margin-left: 2rem;
                        }
                    }

                    &:last-child {
                        >.menu-list {
                            left: initial;
                            right: 0;
                        }
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        @include posi-horizontal;
                        height: 0.2rem;
                        background: $color-pri;
                        width: 0;
                        border-radius: 100px;
                        @include transitionRe;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        background-image: url(../assets/images/la-dc-1.svg);
                        width: 1.9rem;
                        height: 1.9rem;
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        left: calc(100% + .2rem);
                        top: .4rem;
                        transform: rotate(-15deg);
                        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
                    }

                    &:hover:not(.dropdown),
                    &:has(.current-menu-item) {
                        &::before {
                            width: 100%;
                        }

                        &::after {
                            animation: menuLa 1s ease-in-out 0.5s forwards;
                        }
                    }

                    &.dropdown {
                        &:hover {
                            &::before {
                                width: 0;
                            }
                        }
                    }

                    &:hover {
                        >a {
                            i {
                                transform: rotate(180deg);
                            }
                        }
                    }

                    >.menu-link {
                        height: 100%;
                        @include flex;
                        align-items: center;
                        color: $color-text;
                    }

                    &.current_page_item,
                    &.current-menu-item,
                    &.current_page_parent,
                    &.current-menu-parent,
                    &.current-post-parent {
                        &::before {
                            width: 100%;
                        }

                        &::after {
                            animation: menuLa 1s ease-in-out 0.5s forwards;
                        }
                    }

                    >.menu-list {
                        top: calc(100% + 1rem);
                    }
                }
            }
        }

        &-list {
            @include flex;
            align-items: center;
        }

        &-item {
            position: relative;
            @include transition(0.2s, ease-in-out);

            &:hover {
                >.menu-list {
                    @include show;

                    >.menu-item {

                        &.current_page_item,
                        &.current-menu-item {
                            >a {
                                // &::after {
                                //     width: 100%;
                                // }
                                color: $color-pri;
                            }
                        }
                    }
                }
            }

            .menu-link,
            a {
                @include transition(0.2s, ease-in-out);

                i {
                    @include transition(0.2s, ease-in-out);
                }
            }

            >.menu-link,
            >a {
                color: $color-text;
                font-weight: 600;
                display: block;
                font-size: 1.6rem;

                >i {
                    display: none;
                    font-weight: 600;
                    margin-left: 0.4rem;
                    font-size: 1.4rem;
                    color: $color-pri;
                }
            }

            &.dropdown {
                >a {
                    >i {
                        display: inline-block;
                    }
                }
            }

            >.menu-list {
                position: absolute;
                top: 0;
                left: 0;
                min-width: 25rem;
                max-width: 28rem;
                @include flex;
                flex-direction: column;
                align-items: flex-start;
                background: white;
                box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
                border-radius: .8rem;
                @include transitionRe;
                @include hidden(0, -5px);

                >.menu-item {
                    margin-left: 0;
                    width: 100%;

                    // &:not(:last-child) {
                    //     border-bottom: 0.1rem solid rgba($color: white, $alpha: 0.5);
                    // }
                    &:hover {
                        &::after {
                            opacity: 1;
                        }

                        >.menu-link,
                        >a {
                            color: $color-pri;

                            &::after {
                                width: 100%;
                            }

                            >i {
                                // color: white;
                            }
                        }
                    }

                    >.menu-link,
                    >a {
                        padding: .8rem 1.6rem;
                        @include flex;
                        align-items: center;
                        justify-content: space-between;
                        position: relative;

                        // &::after {
                        //     @include pseudo;
                        //     @include posi-horizontal;
                        //     height: 100%;
                        //     background: $color-pri;
                        //     width: 0%;
                        //     z-index: -1;
                        //     transition: all .4s ease-in-out;
                        // }
                        >i {
                            transform: rotate(-90deg) translate(5px, 0);
                            margin-top: 0.8rem;
                            font-size: 1rem;
                        }
                    }

                    >.menu-list {
                        left: 100%;
                    }
                }
            }
        }
    }
}

.mobile-nav {
    .menu {
        &-nav {
            >.menu-list {
                >.menu-item {

                    &.current_page_item,
                    &.current-menu-item,
                    &.current_page_parent,
                    &.current-menu-parent,
                    &.current-post-parent {
                        >a {
                            color: $color-pri;
                            padding-left: 3rem;

                            &::after {
                                opacity: 1;
                            }
                        }
                    }

                    &:has(.current-menu-item) {
                        >a {
                            color: $color-pri;
                        }
                    }

                    >a {
                        padding: 1.2rem;
                        @include flex;
                        justify-content: space-between;
                        align-items: center;
                        color: #303030;
                        font-size: 1.4rem;
                        font-weight: 600;
                        text-transform: uppercase;
                        border-bottom: 1px solid $color-border-01;
                        position: relative;

                        &::after {
                            content: '';
                            position: absolute;
                            background-image: url(../assets/images/la-dc-1.svg);
                            width: 1.5rem;
                            height: 1.5rem;
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: center;
                            left: 1rem;
                            top: 1.4rem;
                            transform: rotate(-107deg);
                            opacity: 0;
                        }

                        &::before {
                            display: none;
                        }
                    }
                }
            }
        }

        &-item {
            &.dropdown {
                >a {
                    >i {
                        display: flex;
                    }
                }
            }

            &.active {
                >a {
                    >i {
                        transform: rotate(180deg);
                    }
                }
            }

            a {
                position: relative;

                i {
                    width: 2rem;
                    height: 2rem;
                    @include mid-flex;
                    display: none;
                    @include transitionRe;
                }
            }

            >a {
                @include flex;
                align-items: center;
                justify-content: space-between;
                // padding: 1.2rem 1.2rem 1.2rem 2.4rem;
                padding: 1.2rem;
                font-size: 1.4rem;
                color: $color-text;
                font-weight: 500;
                text-transform: uppercase;
            }

            >.menu-list {
                display: none;
                margin-left: 1.6rem;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: 2rem;
                    bottom: 2rem;
                    left: 0;
                    width: 1px;
                    background-color: $color-border-01;
                }

                >.menu-item {

                    &.current_page_item,
                    &.current-menu-item {
                        >a {
                            color: $color-pri;
                        }
                    }

                    &:has(.current-menu-item) {
                        >a {
                            color: $color-pri;
                        }
                    }
                }
            }
        }
    }
}

@keyframes menuLa {
    0% {
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }

    50% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}