header.hd
  .hd-nav
    .container 
      .hd-wr 
        .hd-logo
          a.custom-logo-link(href="")
            img(src="./assets/images/logo.png", alt="") 
        .hd-mid
          .menu-nav
            ul.menu-list
              li.menu-item.current-menu-item
                a.menu-link(href="") Trang chủ
              li.menu-item
                a.menu-link(href="") Giới thiệu
              li.menu-item.dropdown
                a.menu-link(href="") Chính sách
                ul.menu-list
                  li.menu-item
                    a.menu-link(href="") DemoSp
                  li.menu-item
                    a.menu-link(href="") DemoSp
              li.menu-item
                a.menu-link(href="") Thanh toán
              li.menu-item
                a.menu-link(href="") Dịch vụ doanh nghiệp
              li.menu-item
                a.menu-link(href="") Chăm sóc khách hàng
              li.menu-item
                a.menu-link(href="") Hướng dẫn mua hàng
        .hd-act 
          
  .mobile-overlay
  .mobile
    .mobile-con
      .mobile-wr
        .mobile-nav
          .menu-nav
            ul.menu-list
              li.menu-item
                a.menu-link(href='')
                  | Trang chủ
              li.menu-item
                a.menu-link(href='')
                  | Giới thiệu
              li.menu-item.dropdown
                a.menu-link(href='')
                  | Chính sách
                ul.menu-list
                  li.menu-item
                    a.menu-link(href='')
                      | DemoSp
                  li.menu-item
                    a.menu-link(href='')
                      | DemoSp
              li.menu-item
                a.menu-link(href='')
                  | Thanh toán
              li.menu-item
                a.menu-link(href='')
                  | Dịch vụ doanh nghiệp
              li.menu-item
                a.menu-link(href='')
                  | Chăm sóc khách hàng
              li.menu-item
                a.menu-link(href='')
                  | Hướng dẫn mua hàng
          .mobile-content
      .mobile-mxh
        a.mobile-mxh-link(href='')
          img(src='./assets/images/social-1.svg' alt='')
        a.mobile-mxh-link(href='')
          img(src='./assets/images/social-2.svg' alt='')
        a.mobile-mxh-link(href='')
          img(src='./assets/images/social-3.svg' alt='')