
.back-to-top.backToTop
    .triangle
    .triangle
    .triangle
.fix-menu 
    .fix-menu-item.my-home 
        a.fix-menu-wrap(href="") 
            i.fa-regular.fa-house-blank
            span.text
                | Trang chủ
    .fix-menu-item.my-phone 
        a.fix-menu-wrap(href="")
            span.icon 
                img(src="./assets/images/icon-phone.svg", alt="")
            span.text
                | Hotline
    .fix-menu-item.my-cate
        a.fix-menu-wrap.cateOpen(href="")
            span.icon 
                img(src="./assets/images/icon-cate.svg", alt="")
            span.text
                | Danh mục
script(src='./assets/library/jquery/jquery.js')
script(src='./assets/library/swiper/swiper-bundle.min.js')
script(src='./assets/library/aos/aos.js')
script(src='./assets/library/select2/select2.min.js')
script(src='./assets/library/gallery/lightgallery-all.min.js')
script(src='./assets/library/jquery/jquery-migrate.js')
script(src='./assets/library/isotope/isotope.pkgd.min.js')
script(src='./assets/library/datetime/moment.min.js')
script(src='./assets/library/datetime/daterangepicker.min.js')
script(src='./assets/library/smoothscroll/SmoothScroll.min.js')
script(src='./assets/library/splitting/splitting.min.js')
script(src='./assets/library/fancybox/fancybox.umd.js')
script(src='./assets/library/gsap/gsap.min.js')
script(src='./assets/library/gsap/ScrollTrigger.min.js')
script(src='./assets/library/trimline/jquery.trimLines.js')
script(src='./js/main.js' type='module')

